body {
	background: #232323;
	margin: 0;
	font-family: "Montserrat", "Avenir";
}

h1 {
	color: white;
	margin: 0;
	background: steelblue;
	font-weight: normal;
	text-transform: uppercase;
	text-align: center;
	line-height: 1.1;
	padding: 20px 0;
}

#container {
	margin: 20px auto;
	max-width: 600px;
}

#colorDisp {
	font-size: 200%;
}

.square {
	background-color: red;
	width: 30%;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 15%;
	transition: background 0.6s;
}

#stripe {
	background-color: white;
	text-align: center;
	height: 30px;
}

#msg {
	display: inline-block;
	width: 20% ;
}

.selected {
	background-color: steelblue;
	color: white;
}

button {
	border: none;
	background: none;
	text-transform: uppercase;
	color: steelblue;
	height: 100%;
	font-size: inherit;
	font-weight: 700;
	letter-spacing: 1px;
	transition: all 0.3s;
	outline: none;
}

button:hover {
	color: white;
	background: steelblue;
}